# Ignore Go build artifacts
*.exe
*.exe~
*.out
*.test
*.so
*.a

# Ignore vendor directory
/vendor/



# Ignore IDE and editor files
*.idea/
*.vscode/
*.DS_Store

# Ignore temporary files
*.tmp
*.log

# Ignore specific test files
.pixi/
